# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Database
*.db
*.sqlite3

# Docker
.dockerenv
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db
